.mainArea {
  padding: 1rem;
}

.actionButton {
  padding: 0.125rem 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(70, 70, 255);
  border-color: black;
  color: azure;
}
button:not(.actionButton) {
  color: rgb(70, 70, 255);
  text-decoration: underline rgb(70, 70, 255);
}

.managementButtons button {
  color: black;
  text-decoration: none;
  margin-right: 0.625rem;
  padding: 0.2rem 0.625rem;
  border: 2px solid black;
}

.searchBar {
  display: flex;
  align-items: center;
  margin-top: 0.625rem;
  padding: 0.2rem 0.625rem;
  border: 2px solid black;
  border-radius: 0.25rem;
  background-color: rgb(230, 230, 230);
}

.searchBar input {
  flex: 1;
  border: none;
  outline: none;
}

.searchBar input::placeholder {
  color: rgb(150, 150, 150);
}

.TableContainer {
  flex: 1;
  min-height: 0;
  overflow: hidden;
  border-left: none;
  border-right: none;
  th {
    border-bottom: 2px solid black;
    background-color: rgb(180, 180, 180);
  }
  td {
    cursor: pointer;
    border-bottom: 2px solid black;
    background-color: rgb(230, 230, 230);
  }
  .MuiTableRow-root:hover td {
    background-color: rgba(157, 0, 0, 0.3);
  }
  .MuiTableRow-root.Mui-selected td {
    background-color: white;
  }
  .MuiTableRow-root.Mui-selected:hover td {
    background-color: rgba(157, 0, 0, 0.15);
  }
}

.TableConnectionsContainer {
  border: 2px solid;
  th {
    background-color: rgb(180, 180, 180);
    border: 1px solid;
    border-bottom: none;
    border-top: none;
  }
  td {
    border: 1px solid;
    border-bottom: none;
    border-top: none;
  }
  .MuiTableRow-root:hover:not(.LastRow) td {
    background-color: rgba(157, 0, 0, 0.3);
  }
  .MuiTableRow-root.Mui-selected:not(.LastRow) td {
    background-color: white;
  }
  .MuiTableRow-root.Mui-selected:hover:not(.LastRow) td {
    background-color: rgba(157, 0, 0, 0.15);
  }
}

/* Small devices (Devices like Galaxy Fold and Galaxy S8+) */
@media only screen and (min-width: 320px) and (max-width: 370px) {
  .managementButtons button span {
    display: none;
  }
}
