@import "tailwindcss";  

html {
  background: rgb(235, 235, 235);
  color: black;
}

nav{
    background: rgb(157, 0, 0);
    padding: 20px;
    color: white;
    font-size: xx-large;
}

main {
  padding: 1.5%;
  font-size: larger;
}

.topButton {
  color: blue;
  text-decoration: underline;
}
.topButton:disabled {
  color: black;
  text-decoration: none;
}

.mainArea {
  padding: 1%;
}
.managementButtons button {
  margin-right: 10px;
  padding: 3px 10px;
  border: 2px solid black;
}
.data{
  padding-top: 1%;
}

.TableContainer {
  max-height: 450px;
  overflow-y: scroll;
  border-left: none;
  border-right: none;
}
.TableHead .MuiTableCell-root {
  border-bottom: 2px solid black;
  background-color: rgb(204, 204, 204);
}
.TableBody .MuiTableCell-root {
  border: none;
  border-bottom: 2px solid black;
  background-color: rgb(235, 235, 235);
}
.TableRow .MuiTableCell-root {
  cursor: pointer;
}