@import "tailwindcss";  

html {
  background: rgb(235, 235, 235);
  color: black;
}

nav{
    background: rgb(157, 0, 0);
    padding: 20px;
    color: rgb(235, 235, 235);
    font-size: xx-large;
}

main {
  padding: 1.5%;
  font-size: larger;
}

.topButton {
  color: rgb(70, 70, 255);
  text-decoration: underline;
}
.topButton:disabled {
  color: black;
  text-decoration: none;
}

.mainArea {
  padding: 1%;
}
.data{
  padding-top: 1%;
}
.actionButton {
  padding-left: 8px;
  padding-right: 8px;
  background-color: rgb(70, 70, 255);
  border-color: black;
  color: azure;
}
button:not(.actionButton){
  color: rgb(70, 70, 255);
  text-decoration: underline rgb(70, 70, 255);
}
.managementButtons button {
  color: black;
  text-decoration: none;
  margin-right: 10px;
  padding: 3px 10px;
  border: 2px solid black;
}

.TableContainer {
  max-height: 450px;
  overflow-y: scroll;
  border-left: none;
  border-right: none;
}
.TableHead .MuiTableCell-root {
  border-bottom: 2px solid black;
  background-color: rgb(180, 180, 180);
}
.TableBody .MuiTableCell-root {
  border-bottom: 2px solid black;
}
.TableRow.MuiTableRow-root {
  cursor: pointer;
  background-color: rgb(230, 230, 230);
}
.TableRow.MuiTableRow-root:hover {
  background-color: rgba(157, 0, 0, 0.30);
}
.TableRow.MuiTableRow-root.Mui-selected {
  background-color: white;
}
.TableRow.MuiTableRow-root.Mui-selected:hover {
  background-color: rgba(157, 0, 0, 0.15);
}