@import "tailwindcss";  

html {
  background: rgb(235, 235, 235);
  color: black;
}

main {
  padding: 1%;
  font-size: larger;
}

.topButton {
  color: blue;
  text-decoration: underline;
}

.topButton:disabled {
  color: black;
  text-decoration: none;
}