@import "tailwindcss";

html {
  background: rgb(235, 235, 235);
  color: black;
  overflow-y: hidden;
}
nav {
  background: rgb(157, 0, 0);
  padding: 1.2rem;
  padding-left: 2.2rem;
  color: rgb(235, 235, 235);
  font-size: xx-large;
}
main {
  padding: 1.2rem;
  font-size: larger;
}

.topButton {
  color: rgb(70, 70, 255);
  text-decoration: underline;
}
.topButton:disabled {
  color: black;
  text-decoration: none;
}

.data {
  padding-top: 1rem;
}

.MuiDialogContent-root .MuiDialogContentText-root {
  color: rgba(157, 0, 0);
}

/* SIZES DEFINED AND COPIED FROM W3Schools
https://www.w3schools.com/howto/howto_css_media_query_breakpoints.asp */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
