@import "tailwindcss";

html {
  background: rgb(235, 235, 235);
  color: black;
  overflow-y: hidden;
}

nav {
  background: rgb(157, 0, 0);
  padding: 20px;
  color: rgb(235, 235, 235);
  font-size: xx-large;
}

main {
  padding: 1.5%;
  font-size: larger;
}

.topButton {
  color: rgb(70, 70, 255);
  text-decoration: underline;
}
.topButton:disabled {
  color: black;
  text-decoration: none;
}

.mainArea {
  padding: 1%;
}
.data {
  padding-top: 1%;
}
.actionButton {
  padding: 2px 8px 2px 8px;
  border-radius: 10%;
  background-color: rgb(70, 70, 255);
  border-color: black;
  color: azure;
}
button:not(.actionButton) {
  color: rgb(70, 70, 255);
  text-decoration: underline rgb(70, 70, 255);
}
.managementButtons button {
  color: black;
  text-decoration: none;
  margin-right: 10px;
  padding: 3px 10px;
  border: 2px solid black;
}

.TableContainer {
  max-height: calc(100vh - 275px);
  overflow-y: auto;
  border-left: none;
  border-right: none;
  th {
    border-bottom: 2px solid black;
    background-color: rgb(180, 180, 180);
  }
  td {
    cursor: pointer;
    border-bottom: 2px solid black;
    background-color: rgb(230, 230, 230);
  }
  .MuiTableRow-root:hover td {
    background-color: rgba(157, 0, 0, 0.3);
  }
  .MuiTableRow-root.Mui-selected td {
    background-color: white;
  }
  .MuiTableRow-root.Mui-selected:hover td {
    background-color: rgba(157, 0, 0, 0.15);
  }
}

.TableConnectionsContainer {
  border: 2px solid;
  th {
    background-color: rgb(180, 180, 180);
    border: 1px solid;
    border-bottom: none;
    border-top: none;
  }
  td {
    border: 1px solid;
    border-bottom: none;
    border-top: none;
  }
  .MuiTableRow-root:hover:not(.LastRow) td {
    background-color: rgba(157, 0, 0, 0.3);
  }
  .MuiTableRow-root.Mui-selected:not(.LastRow) td {
    background-color: white;
  }
  .MuiTableRow-root.Mui-selected:hover:not(.LastRow) td {
    background-color: rgba(157, 0, 0, 0.15);
  }
}

.MuiDialogContent-root .MuiDialogContentText-root {
  color: rgba(157, 0, 0);
}
