@import "tailwindcss";

html, body{
  background: rgb(235, 235, 235);
  color: black;
}

nav {
  background: rgb(157, 0, 0);
  padding: 1.2rem;
  padding-left: 2.2rem;
  color: rgb(235, 235, 235);
  font-size: xx-large;
}

main {
  padding: 1.2rem;
  font-size: larger;
}

.topButton {
  color: rgb(70, 70, 255);
  text-decoration: underline;
}
.topButton:disabled {
  color: black;
  text-decoration: none;
}

.data {
  padding-top: 1rem;
}

.MuiDialogContent-root .MuiDialogContentText-root {
  color: rgba(157, 0, 0);
}

/* Small devices (Devices like Galaxy Fold and Galaxy S8+) */
@media only screen and (min-width: 320px) and (max-width: 370px) {
  nav {
    font-size: x-large;
  }
}
